<h1>ORDER</h1>

<h2>New Order</h2>
    <label for="ProdID ">Product ID:</label><br>
    <select [(ngModel)]="selectedProduct">
        <option *ngFor="let order of product" [ngValue]="order">{{order.prodID}} </option>
      </select> <br><br>

    <label for="ShipDate ">Ship Date :</label><br>
    <input type="text" [(ngModel)]="ShipDate " ><br><br>

    <label for="Quantity ">Quantity :</label><br>
    <input type="text" [(ngModel)]="Quantity " ><br><br>

    <label for="CustID">Customer ID:</label><br>
    <select [(ngModel)]="selectedCustomer">
        <option *ngFor="let order of customer" [ngValue]="order.custID">{{order.custID}} </option>
      </select> <br><br>

    <label for="ShipMode">Shipment Mode:</label><br>
    <select [(ngModel)]="selectedShipMode">
        <option value="Second Class">Second Class</option>
        <option value="Standard Class">Standard Class</option>
        <option value="First Class">First Class</option>
        <option value="Overnight Express">Overnight Express</option>
      </select><br><br>
    
    <button (click)="addOrder()">Create Order</button>

    
<h2>Delete Order</h2>
    <select [(ngModel)]="selectedOrderToDelete">
        <option *ngFor="let order of orders" [ngValue]="order">{{order.prodID}} X {{order.quantity}} - {{order.custID}}</option>
    </select>
    <button (click)="deleteOrder()">Delete Selected Order</button>
     
<h2>Edit Order</h2>

    <!-- need to be able to select on existing order -->
    <select [(ngModel)]="selectedOrderToEdit" (change)="changedEdit()">
        <option *ngFor="let order of orders" [ngValue]="order">{{order.prodID}} X {{order.quantity}} - {{order.custID}}</option>
    </select>
        <br>
    <!-- these should be bound to edited order property -->
    <label for="ProdID ">Product ID:</label><br>
    <select [(ngModel)]="editedOrder.prodID">
        <option *ngFor="let order of product" [ngValue]="order.prodID">{{order.prodID}} </option>
    </select> <br><br>

    <label for="ShipDate ">Ship Date :</label><br>
    <input type="text" [(ngModel)]="editedOrder.shipDate " ><br><br>

    <label for="Quantity ">Quantity :</label><br>
    <input type="text" [(ngModel)]="editedOrder.quantity " ><br><br>

    <label for="CustID">Customer ID:</label><br>
    <select [(ngModel)]="editedOrder.custID">
        <option *ngFor="let order of customer" [ngValue]="order.custID">{{order.custID}} </option>
    </select> <br><br>

    <label for="ShipMode">Shipment Mode:</label><br>
    <select [(ngModel)]="editedOrder.shipMode">
        <option value="Second Class">Second Class</option>
        <option value="Standard Class">Standard Class</option>
        <option value="First Class">First Class</option>
        <option value="Overnight Express">Overnight Express</option>
    </select><br><br>

    <!-- needs to go to the right function -->
    <button (click)="editOrder()">Edit Order</button>

    
