<h1>ORDER</h1>



    <label for="ProdID ">Product ID:</label><br>
    <input type="text" [(ngModel)]="ProdID " ><br><br>

    <label for="OrderDate">Order Date:</label><br>
    <input type="text" [(ngModel)]="OrderDate" ><br><br>

    <label for="ShipDate ">Ship Date :</label><br>
    <input type="text" [(ngModel)]="ShipDate " ><br><br>

    <label for="Quantity ">Quantity :</label><br>
    <input type="text" [(ngModel)]="Quantity " ><br><br>

    <label for="CustID">Customer ID:</label><br>
    <input type="text" [(ngModel)]="CustID" ><br><br>

    <label for="ShipModee">Shipment Mode:</label><br>
    <input type="text" [(ngModel)]="ShipMode" ><br><br>
    
    <button>Create Order</button>


    <div>
      
    <button>Update Order</button>
    <button>Delete Order</button>
    </div>


    <!--
    <div>
    <button>View Order</button>  
    <button>View Customer</button>
    <button>View Order</button>
    </div>
    -->

    
